
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("./assets/sky-diving.avif");
    background-position: center;
    background-size: cover;
    height: 100vh;
}

#screen {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100vh;
}


#nav-box {
    display: flex;
    justify-content: space-between;
    padding: 1.9rem 7rem 0 7rem;
}


#logo {
    text-decoration-line: none;
    color: snow;
    font-size: 20pt;
}

#logo:hover {
    color: goldenrod;
}


#middle-list-items {
    display: flex;
    align-items: center;
}

#ul-list {
    list-style: none;
    display: flex;
    gap: 30px;
}

#ul-list a:hover {
    color: goldenrod;
}

.ul-items {
    color: snow;
    text-decoration-line: none;
}

#btn {
    border: none;
    background-color: transparent;
}

#btn a {
    text-decoration-line: none;
    border: 2px solid snow;
    border-radius: 45px;
    padding: 10px 25px;
    color: snow;
    font-size: 14px;
}

.header-text {
    color: snow;
    padding-left: 7rem;
    padding-top: 15rem;
}


#world {
    font-size: 20px;
    display: block;
}


#legends {
    font-size: 25px;
    color: aqua;
    display: block;
}


#live-here {
    font-size: 35px;
    display: block;
}


/* #watch-video-button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 60px;
    width: 60px;

    background-color: transparent;

    margin-left: 7rem;

    border: 1px solid white;
    box-sizing: border-box;
    border-radius: 50%;
}

#watch-video-button:hover {cursor: pointer;}

#first-circle {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;

    border-radius: 50%;
    box-sizing: border-box;

    height: 45px;
    width: 45px;
} */



#about-us-general-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#about-us-text-section {
    width: 450px;
    text-wrap: pretty;
}


.images {
    display: flex;
    gap: 20px;
}

#img-1 {
    /* border: 2px solid red; */
    width: 200px;
    padding-bottom: 2rem;
    height: 300px;
}

#img-2 {
    /* border: 2px solid red; */
    width: 200px;
    padding-top: 2rem;
    height: 300px;
}

.btn-read-more {
    background-color: orange;
    color: whitesmoke;
    padding: 15px 30px;
    border: none;
    border-radius: 25px;
}

.btn-read-more:hover {
    background-color: green;
}



.general-section-style {
    margin-top: 5rem;
    padding-left: 10vw;
    padding-right: 10vw;    
}

.leading-text {
    color: orange;
    font-weight: 600;
}

.second-lead-text {
    font-size: 40px;
    font-weight: 900;
}



/* #text-plus-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40pt;
}


#text-only {
    max-width: 400px;
    text-wrap: pretty;
} */



#overall-box {
    display: flex;
    flex-direction: column;
}

#overall-box h2 {
    margin: 0 auto;
    color: blue;
}


.cards-box {
    display: flex;
    gap: 40px;

    margin-top: 2rem;

    padding: 25px 2rem 35px 2rem;
    background-color: rgb(248, 249, 250);

    overflow-x: scroll;
    scroll-snap-type: mandatory;
}


.card {
    width: min-content;
    scroll-snap-align: start;

    background-color: snow;
    box-shadow: 10px 15px 10px rgba(28, 29, 29, 0.7);
}


.many-images {
    width: 350px;
    height: 350px;
}

.parent-image {
    position: relative;
}

.child-text {
    position: absolute;
    bottom: 4px;
    right: 0;

    height: 60px;
    width: 100px;

    background-color: rgba(165, 42, 42, 0.6);
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}


.bold-text {
    font-weight: bold;
    font-size: 20pt;
    color: crimson;

    margin: 5px;
}

.light-text {
    margin: 5px;
    color: rgba(0, 0, 0, 0.5);
}



#action-areas {
    background-color: rgb(248, 249, 250);
}

#where-action-occur {
    display: flex;
    justify-content: center;
    padding: 2rem 0;

    font-weight: 900;
    font-size: 25pt;
    color: blue;
}

#master-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5rem;
}

.containers {
    width: 500px;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.containers span {
    height: 300px;
    border-radius: 15px;
    padding: 0 1rem;
}

#earth {
    background-color: rgba(240, 230, 140, 0.3);
}

#water {
    background-color: rgba(70, 131, 180, 0.3);
}

#snow-ice {
    background-color: rgba(128, 255, 0, 0.3);
}

#air {
    background-color: rgba(214, 128, 214, 0.3);
}

.heading {
    font-weight: 900;
    font-size: 20pt;
}



#earth-section {
    background-color: black;
    color: white;
}

.domain-area {
    display: flex;
    justify-content: center;

    padding-top: 5rem;
    padding-bottom: 5rem;

    font-size: 25pt;
    font-weight: 900;
}

.main-container {
        display: flex;
        flex-direction: column;
        gap: 7rem;
}


.sub-card {
    display: flex;
    justify-content: space-between;
    /* gap: 30px; */
    /* width: 750pt; */
    /* margin: 2rem 0; */
}

/* .image-box img {
    width: 361px;
    height: 248px;
} */

.text-box {
    width: 500pt;
}

.sport-name {
    margin-top: 5px;
    font-size: 15pt;
    font-weight: 700;
}

.sport-description {
    font-size: 13pt;
    margin-bottom: 5rem;
}

.learn-more {
    color: white;
    background-color: rgb(233, 25, 29);

    border: none;

    cursor: pointer;

    width: 120pt;
    height: 30pt;
    font-size: 11pt;
}

#earth-text {
    color: burlywood;
}

#water-text {
    color: blue;
}



#f1 {
    height: 30rem;
    margin-top: 5rem;
    background-color: rgb(211, 47, 47);
}


#parent-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
}

#big-text {
    margin: 7rem 0 3rem 0;
    font-size: 60pt;
    font-weight: 900;
}

#enquiries {
    font-size: 18pt;
}

#f2 {
    display: flex;
    padding: 2rem 8rem;
    justify-content: space-between;
}

.footer-list {
    list-style: none;
}

.footer-list a {
    text-decoration-line: none;
    color: black;
}

.footer-list li {
    padding: 5pt 0;
}